# Uso de Geopy y API Google Geocoding para obtención de coordenadas

In [1]:
import pandas as pd
import folium
import geopy
from geopy.geocoders import Nominatim
from geopy.geocoders import GoogleV3

In [2]:
# Geocoding
geolocator = Nominatim(user_agent="Cualquiernombre")
geogoogle = GoogleV3(api_key='TU API KEY ACA')
# Rate limit
import time
start = time.time()

from geopy.extra.rate_limiter import RateLimiter
geocode = RateLimiter(geogoogle.geocode, min_delay_seconds=2)

In [26]:
# Cargando dataframe
df_final = pd.read_csv("db_filtrada.csv",encoding='utf8')

# Obtenemos todas las direcciones en una lista
locaciones_full = df_final['direccion'].tolist()

len(locaciones_full)

88

In [ ]:
# Creamos listas
latitudes = []
longitudes = []

# Iteramos cada locacion con el geolocator

for locacion in locaciones_full:
    loc_raw = geocode(locacion)
    try:
        lat = loc_raw.latitude
        long = loc_raw.longitude
        latitudes.append(lat)
        longitudes.append(long)
        error_chk = "no"
    except:
        lat = 0
        long = 0
        latitudes.append(lat)
        longitudes.append(long)
        error_chk = "si"
    print(f'Nombre locacion: {loc_raw}, lat : {lat}, long : {long} error? : {error_chk}')

In [6]:
# Apendamos latitudes y longitudes

lat_long = {'lat' : latitudes ,'long' : longitudes }

df_latlong = pd.DataFrame(data=lat_long)

df_latlong

          lat       long
0  -38.728025 -72.578402
1  -37.672304 -72.589647
2  -38.932059 -72.036365
3  -38.930029 -72.038323
4  -37.955919 -72.438008
..        ...        ...
83 -33.613685 -71.609798
84 -33.578128 -71.608956
85 -33.022909 -71.547922
86 -33.046805 -71.406121
87 -32.929947 -71.518606

[88 rows x 2 columns]

In [10]:
# Confirmando largo de datos
print(len(latitudes))
print(len(longitudes))

88
88

In [11]:
# Creando DF para hacer join a la db final por index

df_coords = pd.DataFrame(df_latlong,columns=['lat','long'])

df_coords

          lat       long
0  -38.728025 -72.578402
1  -37.672304 -72.589647
2  -38.932059 -72.036365
3  -38.930029 -72.038323
4  -37.955919 -72.438008
..        ...        ...
83 -33.613685 -71.609798
84 -33.578128 -71.608956
85 -33.022909 -71.547922
86 -33.046805 -71.406121
87 -32.929947 -71.518606

[88 rows x 2 columns]

In [27]:
# Join por index
df_final = df_final.join(df_coords)

# Escribimos el archivo
df_final.to_csv("df_final_coords.csv",index=False)